*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    height:56px;
    width:100%;
    padding: 0 2rem;
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position:sticky;
    top:0;
    z-index:99;
}
 
nav .nav-left, nav .nav-right, nav .nav-middle
{
    display:flex;
    align-items: center;
}
nav .nav-left > i{
    width: 30px;
    height: 18px;
    scale: 2.5;
    margin-left: 20px;
}
nav .nav-left > input{
    height:40px;
    padding:5px 10px;
    border:none;
    border-radius: 25px;
    outline:none;
    background-color: #eee;
    margin-left: 10px;
}

nav .nav-middle{
    display:flex;
    align-items:flex-end;
    padding-bottom: 5px;
}
nav .nav-middle a{
    text-decoration: none;
    color:#333;
    padding:10px;
    margin:0px 10px;
    width:111.6px;
}
nav .nav-middle a.active{
    color:royalblue;
    position:relative;
}
nav .nav-middle a.active::after{
    content:'';
    width:100%;
    height:3px;
    position:absolute;
    bottom:0;
    left:0;
    background:royalblue;
}
nav .nav-middle a > i{
    font-size: 25px;
    margin-left:35px;
}

nav .nav-middle{
    display:flex;
    align-items:flex-end;
    padding-bottom: 5px;
}
nav .nav-middle a{
    text-decoration: none;
    color:#333;
    padding:10px;
    margin:0px 10px;
}
nav .nav-middle a.active{
    color:royalblue;
    position:relative;
}
nav .nav-middle a.active::after{
    content:'';
    width:100%;
    height:3px;
    position:absolute;
    bottom:0;
    left:0;
    background:royalblue;
}
nav .nav-middle a > i{
    font-size: 25px;
}


 nav .nav-right .profile, .newfeeds .left-panel.profile{
    background: url('./images/selfpic.jpg');
    height:30px;
    width:30px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    scale: 1.2;
}

nav .nav-right a{
    text-decoration: none;
    color:#333;
    height:40px;
    width:40px;
    border-radius: 50%;
    background:#eee;
    display:flex;
    place-items: center;
    margin-right: 10px;
}

nav .nav-right a > i{
    font-size:20px;
    place-items: center;
    margin-top:5px;
    margin-left: 10px;
}



/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */


img {
    width: 40px;
    height: 30px;
}

.newfeeds{
    background:#eee;
    display:flex;
}

.newfeeds .left-panel,.newfeeds .right-panel{
    position: sticky;
    top:70px;
    width:250px;
    height:calc(115vh - 70px);
}

.newfeeds .left-panel ul{
    padding: 10px 0px;
}


.newfeeds .left-panel ul li{
    list-style-type: none;
    display: flex;
    padding: .7rem 1rem;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

.newfeeds .left-panel ul li:hover{
    background: #ddd;
}

.newfeeds .left-panel ul li > p{
    margin-left: 10px;
    font-size: 15px;
}
.newfeeds .left-panel ul li img{
    height:32px;
    width:32px;
    border-radius :50%;
}
.newfeeds .left-panel ul li > i{
    font-size: 20px;
    border-radius: 50%;
    color: slateblue;
}

.newfeeds .left-panel ul li .profile{
    background: url('./images/selfpic.jpg');
    height:28px;
    width:28px;
    background-size:cover;
    border-radius: 50%;
    cursor: pointer;
    
}

.newfeeds .left-panel ul li .see-more a{
    text-decoration: none;
    color:#333;
    height:28px;
    width :28px;
    border-radius: 50%;
    background : #E4E6EB;
    place-items:center;
    margin-right: 10px;

}
.newfeeds .left-panel ul li .see-more a > i{
    font-size:20px;
    place-items: center;
}

.newfeeds .left-panel .link{
    padding:5px 1rem;
}

.newfeeds .left-panel .link a{
    text-decoration: none;
    color:#333;
    font-size:12px;
}




/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */




.newfeeds .middle-panel{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: 0px  5px;
}

.newfeeds .middle-panel .story-section{
    display: flex;
    padding: 15px 1rem;
    height:281.99px;
    border: 1px solid #ddd;
    cursor: pointer;
}


.newfeeds .middle-panel .story-section .story-create{
    width: 140.63px;
    height: 249.99px;
    border-radius: 10px;
    position : relative;
    margin-right:10px;
    background: #fff;
    z-index: 1;
}

.newfeeds .middle-panel .story-section .story-create img{
    width: 140.63px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position : relative;
    z-index: 2;
}

.newfeeds .middle-panel .story-section .story-create .name-create-str{
    position: absolute;
    top: 220px;
    left:10px;
    z-index: 3;
    padding : 5px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

.newfeeds .middle-panel .story-section .story .avt-in-str-set img{
    border-radius: 50%;
    width: 30px;
    height:30px;
    overflow: hidden;
    position:absolute;
    z-index: 2;
    top: 10px;
    left:10px;
    border:royalblue 4px solid;
}
.newfeeds .middle-panel .story-section .story .name{
    position: absolute;
    top: 220px;
    left:10px;
    z-index: 3;
    padding : 5px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.newfeeds .middle-panel .story-section .story{
    box-shadow: 0 0 5px 5px #ddd;
    background: #fff;
    width: 140.8px;
    height: 251px;
    border-radius: 10px;
    margin-right:10px;
    overflow: hidden;
    position: relative;
}
.newfeeds .middle-panel .story-section .story img{
    border-radius: 10px;
    width: 140.63px;
    height:249.99px;
    z-index: 1;
}
.middle-panel .story-section .story-create .plus-icon > i{
    margin-left: 61px;
    margin-top: -10px;
    border:4px solid #fff;
    scale:2; 
    z-index: 2;
    position: absolute;
    border-radius: 50%;
}

.newfeeds .story-section .story-create .poc:hover > img{
    transform:scale(1.05);
}
.middle-panel .story-section .story-create .poc > img{
    transition:.3s ease-in;
}
.newfeeds .story-section .story:hover > img{
    transform:scale(1.05);
}
.middle-panel .story-section .story > img{
    height:100%;
    transition:.3s ease-in;
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.post-create{
    width: 500px;
    height:122.8px;
    padding: 12px 16px 10px;
    margin-top: 30px;
    background: #fff;
    border-radius: 10px;

}
.post-create .post-bot{
    display: flex;
}
.post-create .post-top{
    display: flex;
}

.post{
    width:500px;
    margin-top :20px;
    flex:1;
    display:flex;
    flex-direction: column;
    padding: 12px 16px 10px;
    background: #fff;
    border-radius: 10px;
}

.post .post-top{
    margin:0px 0px 12px;
    padding:12px 16px 0px;
    display:flex;
    align-items: center;
    padding:10px;

}
.avt-person-post{
    height:40px;
    width:40px;
    border-radius: 50%;
    overflow:hidden;
}
.avt-person-post > img{
    height:100%;
    cursor:pointer;

}
.post .post-top .post-info{
    width:348px;
    height:46.39px;
    margin-left:10px;
}
.post .post-top .post-info .name{
    height:20px;
    cursor:pointer;
    font-size:15px;
    color:#050505;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.post .post-top .post-info .time{
    height:17.6px;
    color:#65676B;
    font-size:13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.post-top > input{
    border-radius:25px;
    width:420px;
    height:40px;
    background: #F2F0F5;
    padding: 8px 12px;
    font-size: 17px;
    margin-bottom: 10px;
    border:none;
    color:65676B;

}

.post .post-bot{
    display:flex;
}

.post-bot .button-below-post-create{
    height:40px;
    padding: 8px;
    display:flex;
}

.post-bot .button-below-post-create img{
    width:26px;
    height:26px;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#65676B;
}

.post-bot .button-below-post-create span{
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#65676B;
    height:19.99px;
    align-items: center;
    margin-left: 10px;
    padding: 2.5px;
}
hr.line{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */



.right-panel{
    padding: .7rem 1rem;
}
.Birthdays a{
    display: flex;
    margin-top:15px;
}

.friends-section .friend{
    display: flex;
    margin-top:15px;
}

.friends-section .friend .avt-person-left-panel img{
    height:40px;
    width:40px;
    border-radius: 50px;
}

.friends-section .friend .name{
    cursor:pointer;
    font-size:15px;
    color:#050505;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

